src/EhsnPlugin/Schema/eHSN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EHSN">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="TitleHeader">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="enteredInHWS" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="GenInfo">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="station">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="number" type="xs:string" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="date">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="timezone" type="xs:string" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="StageMeas">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="HgCkbox" type="xs:string" />
                <xs:element minOccurs="0" name="Hg2Ckbox" type="xs:string" />
                <xs:element minOccurs="0" name="Wlr1Ckbox" type="xs:string" />
                <xs:element minOccurs="0" name="Wlr2Ckbox" type="xs:string" />
                <xs:element name="HG1Header" type="xs:string" />
                <xs:element name="HG2Header" type="xs:string" />
                <xs:element name="WL1Header" type="xs:string" />
                <xs:element name="WL2Header" type="xs:string" />
                <xs:element name="StageMeasTable">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="StageMeasRow">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="time" type="xs:string" />
                            <xs:element name="HG1" type="xs:string" />
                            <xs:element name="HG2" type="xs:string" />
                            <xs:element name="WL1" type="xs:string" />
                            <xs:element name="WL2" type="xs:string" />
                            <xs:element name="SRC" type="xs:string" />
                            <xs:element name="SRCApp" type="xs:string" />
                            <xs:element name="MghCkbox" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="hgCkbox" type="xs:string" />
                <xs:element minOccurs="0" name="hg2Ckbox" type="xs:string" />
                <xs:element minOccurs="0" name="wlr1Ckbox" type="xs:string" />
                <xs:element minOccurs="0" name="wlr2Ckbox" type="xs:string" />
                <xs:element name="MGHHG1" type="xs:string" />
                <xs:element name="MGHHG2" type="xs:string"/>
                <xs:element name="MGHWL1" type="xs:string" />
                <xs:element name="MGHWL2" type="xs:string"/>
                <xs:element name="SRCHG1" type="xs:string" />
                <xs:element name="SRCHG2" type="xs:string"/>
                <xs:element name="GCHG1" type="xs:string" />
                <xs:element name="GCHG2" type="xs:string"/>
                <xs:element name="GCWL1" type="xs:string" />
                <xs:element name="GCWL2" type="xs:string" />
                <xs:element name="CMGHHG1" type="xs:string" />
                <xs:element name="CMGHHG2" type="xs:string" />
                <xs:element name="CMGHWL1" type="xs:string" />
                <xs:element name="CMGHWL2" type="xs:string" />
                <xs:element name="MghMethod" type="xs:string" />
                <xs:element name="Factors" type="xs:string" />
                <xs:element name="stageRemark" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DisMeas" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="startTime" type="xs:string" />
                <xs:element name="endTime" type="xs:string" />
                <xs:element name="airTemp" type="xs:string" />
                <xs:element name="waterTemp" type="xs:string" />
                <xs:element name="width" type="xs:string" />
                <xs:element name="area" type="xs:string" />
                <xs:element name="meanVel" type="xs:string" />
                <xs:element name="mgh" type="xs:string" />
                <xs:element minOccurs="0" name="mghCmbo" type="xs:string" />
                <xs:element name="discharge" type="xs:string" />
                <xs:element minOccurs="0" name="dischCombo"  type="xs:string" />
                <xs:element name="mmtTimeVal" type="xs:string" />
                <xs:element name="shift" type="xs:string" />
                <xs:element name="diff" type="xs:string" />
                <xs:element name="curve" type="xs:string" />
                <xs:element name="condition" type="xs:string" />
                <xs:element name="dischargeRemark" type="xs:string" />
                <xs:element name="controlConditionRemark" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="EnvCond">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="levels" type="xs:string" />
                <xs:element name="cloudCover" type="xs:string" />
                <xs:element name="precipitation" type="xs:string" />
                <xs:element name="windMagnitude" type="xs:string" />
                <xs:element name="windMagnitudeSpeed" type="xs:string" />
                <xs:element name="windDirection" type="xs:string" />
                <xs:element name="batteryVolt" type="xs:string" />
                <xs:element name="gasSys" type="xs:string" />
                <xs:element name="feed" type="xs:string" />
                <xs:element name="bpmRotChoice" type="xs:string" />
                <xs:element name="bpmRot" type="xs:string" />
                <xs:element name="gasSysDepCtrl" type="xs:string" />
                <xs:element name="gasArrTime" type="xs:string" />
                <xs:element name="gasDepTime" type="xs:string" />
                <xs:element name="feedDepCtrl" type="xs:string" />
                <xs:element name="feedArrTime" type="xs:string" />
                <xs:element name="feedDepTime" type="xs:string" />
                <xs:element name="bpmrotDepCtrl" type="xs:string" />
                <xs:element name="bpmrotArrTime" type="xs:string" />
                <xs:element name="bpmrotDepTime" type="xs:string" />
                <xs:element name="intakeFlushed" type="xs:string" />
                <xs:element name="intakeTime" type="xs:string" />
                <xs:element name="orificeTime" type="xs:string" />
                <xs:element name="orificePurged" type="xs:string" />
                <xs:element name="downloadedProgram" type="xs:string" />
                <xs:element name="downloadedData" type="xs:string" />
                <xs:element name="dataPeriodStart" type="xs:string" />
                <xs:element name="dataPeriodEnd" type="xs:string" />
                <xs:element name="stationHealthRemark" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MeasResults">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="time" type="xs:string" />
                <xs:element name="SensorRefs">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="SensorRef">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="HourMinutes">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:choice maxOccurs="unbounded">
                        <xs:element name="Hour">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:unsignedByte">
                                <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="Minute">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:unsignedByte">
                                <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Times">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="Time">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="ObservedVals">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="ObservedVal" nillable="true">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="SensorVals">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="SensorVal">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="loggerTimeTable">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="loggerTimeCol1" type="xs:string" />
                      <xs:element name="loggerTimeRemark1" type="xs:string" />
                      <xs:element name="Hour7" type="xs:string" />
                      <xs:element name="Minute7" type="xs:string" />
                      <xs:element name="Hour9" type="xs:string" />
                      <xs:element name="Minute9" type="xs:string" />
                      <xs:element name="Time7" type="xs:string" />
                      <xs:element name="Time9" type="xs:string" />
                      <xs:element name="loggerTimeCol2" />
                      <xs:element name="loggerTimeRemark2" />
                      <xs:element name="Hour8" />
                      <xs:element name="Minute8" />
                      <xs:element name="Hour10" />
                      <xs:element name="Minute10" />
                      <xs:element name="Time8" />
                      <xs:element name="Time10" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="empty" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="InstrumentDeployment">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="GeneralInfo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="methodType" type="xs:string" />
                      <xs:element name="deployment" type="xs:string" />
                      <xs:element name="position" type="xs:string" />
                      <xs:element name="instrument" type="xs:string" />
                      <xs:element name="serialNum" type="xs:string" />
                      <xs:element name="gauge1" type="xs:string" />
                      <xs:element name="length" type="xs:unsignedByte" />
                      <xs:element name="gaugePos" type="xs:unsignedByte" />
                      <xs:element name="selectedGauge" type="xs:string" />
                      <xs:element name="frequency" type="xs:string" />
                      <xs:element name="firmware" type="xs:string" />
                      <xs:element name="software" type="xs:string" />
                      <xs:element name="manufacturer" type="xs:string" />
                      <xs:element name="model" type="xs:string" />
                      <xs:element name="pictured" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="MidsectionInfo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="panelsNum" type="xs:string" />
                      <xs:element name="flowAngle" type="xs:string" />
                      <xs:element name="coeff" type="xs:string" />
                      <xs:element name="method" type="xs:string" />
                      <xs:element name="metres" type="xs:string" />
                      <xs:element name="weight" type="xs:string" />
                      <xs:element name="kglbs" type="xs:unsignedByte" />
                      <xs:element name="weightRadBut1" type="xs:string" />
                      <xs:element name="weightRadBut2" type="xs:string" />
                    </xs:sequence>
                    <xs:attribute name="empty" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="ADCPInfo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="configChoice" type="xs:string" />
                      <xs:element name="configVal" type="xs:string" />
                      <xs:element name="ADCPSetToClock" type="xs:string" />
                      <xs:element name="diagnosticTest" type="xs:string" />
                      <xs:element name="depth" type="xs:string" />
                      <xs:element name="magDecl" type="xs:string" />
                      <xs:element name="compassCali" type="xs:string" />
                      <xs:element name="passedRev" type="xs:string" />
                    </xs:sequence>
                    <xs:attribute name="empty" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Control" />
				<xs:element name="SiteConditions">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="pictured" type="xs:string" />
                      <xs:element name="preUseCable" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
				</xs:element>				
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="PartyInfo">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="party" type="xs:string" />
                <xs:element name="completed" type="xs:string" />
                <xs:element name="checked" />
                <xs:element name="reviewed" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="LevelNotes">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="LevelChecks">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="LevelChecksTable">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="LevelChecksRow">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="station" type="xs:string" />
                                  <xs:element name="backsight" type="xs:string" />
                                  <xs:element name="htInst" type="xs:string" />
                                  <xs:element name="foresight" type="xs:string" />
                                  <xs:element name="elevation" type="xs:string" />
                                  <xs:element name="establish" type="xs:string" />
                                  <xs:element name="comments" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="closure" type="xs:string" />
                            <xs:element name="upload" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="run" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="LevelChecksSummaryTable">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="SummaryTableRow">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="time" type="xs:string" />
                                  <xs:element name="reference" type="xs:string" />
                                  <xs:element name="waterLevel" type="xs:decimal" />
                                  <xs:element name="dist" type="xs:decimal" />
                                  <xs:element name="surge" type="xs:string" />
                                  <xs:element name="wlElev" type="xs:decimal" />
                                  <xs:element name="datum" type="xs:decimal" />
                                  <xs:element name="cwl" type="xs:decimal" />
                                  <xs:element name="loggerReading" type="xs:string" />
                                  <xs:element name="loggerReading2" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="comments" type="xs:string" />
                      <xs:element name="surveyedby" type="xs:string" />
                      <xs:element name="loggerName" type="xs:string" />
                      <xs:element name="loggerName2" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="FieldReview">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="pass" type="xs:string" />
                <xs:element name="dependencyType" type="xs:string" />
                <xs:element name="midsectionType" type="xs:string" />
                <xs:element name="FieldReviewTable">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="FieldReviewTableRow">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="label" type="xs:string" />
                            <xs:element name="checked" type="xs:string" />
                            <xs:element name="reviewed" type="xs:string" />
                            <xs:element name="text" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="siteNotes" type="xs:string" />
                <xs:element name="planNotes" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MovingBoatMeas">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="bedMaterial" type="xs:string" />
                <xs:element name="mbTest" type="xs:string" />
                <xs:element name="mbTestChoice" type="xs:string" />
                <xs:element name="detected" type="xs:string" />
                <xs:element name="trackRefChoice" type="xs:string" />
                <xs:element name="leftBankChoice" type="xs:string" />
                <xs:element minOccurs="0" name="leftBank" />
                <xs:element name="rightBankChoice" type="xs:string" />
                <xs:element minOccurs="0" name="rightBank" />
                <xs:element name="edgeDistMmntMethod" type="xs:string" />
                <xs:element name="compositeTrackCmbo" type="xs:string" />
                <xs:element name="depthRefCmbo" type="xs:string" />
                <xs:element name="velocityTopCombo" type="xs:string" />
                <xs:element name="velocityBottomCombo" type="xs:string" />
                <xs:element name="velocityExponentCtrl" type="xs:string" />
                <xs:element name="differenceCtrl" type="xs:string" />
                <xs:element name="extrapUncerCtrl" type="xs:string" />
                <xs:element name="ADCPMeasTable">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="ADCPMeasRow">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="checkbox" type="xs:string" />
                            <xs:element name="transectID">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:unsignedByte">
                                    <xs:attribute name="imported" type="xs:unsignedByte" use="required" />
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="startBank" type="xs:string" />
                            <xs:element name="startTime" type="xs:time" />
                            <xs:element name="startDistance">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:decimal">
                                    <xs:attribute name="imported" type="xs:unsignedByte" use="required" />
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="endDistance">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:decimal">
                                    <xs:attribute name="imported" type="xs:unsignedByte" use="required" />
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="rawDischarge">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:decimal">
                                    <xs:attribute name="imported" type="xs:unsignedByte" use="required" />
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="remarks">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                    <xs:attribute name="imported" type="xs:unsignedByte" use="required" />
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="ADCPMeasResults">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="mmntStartTime" type="xs:string" />
                      <xs:element name="mmntEndTime" type="xs:string" />
                      <xs:element name="mmntMeanTime" type="xs:string" />
                      <xs:element name="mbCorrectionApplied" type="xs:string" />
                      <xs:element name="finalDischargeMean" type="xs:string" />
                      <xs:element name="correctedMeanGaugeHeight" type="xs:string" />
                      <xs:element name="baseCurveGaugeHeight" type="xs:string" />
                      <xs:element name="calcBaseCurveDischarge" type="xs:string" />
                      <xs:element name="standardDevMeanDischarge" type="xs:string" />
                      <xs:element name="calculateShiftforBaseCurve" type="xs:string" />
                      <xs:element name="dischargeDifferenceBaseCurve" type="xs:string" />
                      <xs:element name="comments" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="empty" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="MidsecMeas">
            <xs:complexType>
              <xs:sequence>
              <xs:element name="DischargeMeasurement">
                  <xs:complexType>
                    <xs:sequence>
                    <xs:element name="MmtInitAndSummary">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MmtInit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DeploymentMethod" type="xs:string" />
                                <xs:element name="StartingBank" type="xs:string" />
                                <xs:element name="TagMarkPolarity" />
                                <xs:element name="InitialPoint" />
                                <xs:element name="UnmeasuredFlow" />
                                <xs:element name="TimeWeightedMeanWaterLevel" />
                                <xs:element name="measureSectionCtrl" type="xs:string" />
                    </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MetersUsed">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Meter">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Number" type="xs:string" />
                                      <xs:element maxOccurs="unbounded" name="Equation">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Type" />
                                            <xs:element name="Slope" type="xs:string" />
                                            <xs:element name="Intercept" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="MeterCalibDate" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MmtSummary">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDate" type="xs:string" />
                                <xs:element name="EndDate" type="xs:string" />
                                <xs:element name="TotalQ" type="xs:string" />
                                <xs:element name="TotalArea" type="xs:string" />
                                <xs:element name="TotalWidth" type="xs:string" />
                                <xs:element name="AverageVelocity" type="xs:string" />
                                <xs:element name="AverageDepth" type="xs:string" />
                                <xs:element name="NumberOfPanels" type="xs:string" />
                                <xs:element name="Uncertainty" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Channels">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Channel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Panels">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Panel">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="panelId" type="xs:unsignedByte" />
                                            <xs:element name="Tagmark" type="xs:string" />
                                            <xs:element name="ReverseFlow" type="xs:string" />
                                            <xs:element name="AngleOfFlowCoefficient" type="xs:string" />
                                            <xs:element name="DepthReading" type="xs:string" />
                                            <xs:element name="DepthWithOffset" type="xs:string" />
                                            <xs:element name="Width" type="xs:string" />
                                            <xs:element name="AverageVelocity" type="xs:string" />
                                            <xs:element name="Discharge" type="xs:string" />
                                            <xs:element name="PanelNum" type="xs:unsignedByte" />
                                            <xs:element name="Slop" type="xs:string" />
                                            <xs:element name="Slop2" />
                                            <xs:element name="SlopBtn1" type="xs:string" />
                                            <xs:element name="Intercept" type="xs:decimal" />
                                            <xs:element name="Intercept2" />
                                            <xs:element name="Wldl" type="xs:string" />
                                            <xs:element name="DryAngle" type="xs:string" />
                                            <xs:element name="DistWaterSurface" type="xs:string" />
                                            <xs:element name="DryCorrection" type="xs:string" />
                                            <xs:element name="WetCorrection" type="xs:string" />
                                            <xs:element minOccurs="0" name="Open">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="DeploymentMethod" type="xs:string" />
                                                  <xs:element name="AmountOfWeight" type="xs:string" />
                                                  <xs:element name="DistanceAboveWeight" type="xs:string" />
                                                  <xs:element name="TotalDepth" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="IceCovered">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="IceAssembly" type="xs:string" />
                                                  <xs:element name="DistanceAboveWeight" type="xs:string" />
                                                  <xs:element name="MeterAboveFooting" type="xs:string" />
                                                  <xs:element name="MeterBelowFooting" type="xs:string" />
                                                  <xs:element name="IceThickness" type="xs:string" />
                                                  <xs:element name="WaterSurfaceToBottomOfIce" type="xs:string" />
                                                  <xs:element name="Slush" type="xs:string" />
                                                  <xs:element name="WaterSurfaceToBottomOfSlush" type="xs:string" />
                                                  <xs:element name="SlushThickness" />
                                                  <xs:element name="EffectiveDepth" type="xs:string" />
                                                  <xs:element name="IceAdjusted" type="xs:string" />
                                                  <xs:element name="WSToBottomOfIceAdjusted" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="MeterNumber" type="xs:string" />
                                            <xs:element name="Flow" type="xs:string" />
                                            <xs:element name="PointMeasurements">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="PointMeasurement">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="SamplingDepthCoefficient" type="xs:string" />
                                                        <xs:element name="MeasurementDepth" type="xs:string" />
                                                        <xs:element name="Revolutions" type="xs:unsignedByte" />
                                                        <xs:element name="ElapsedTime" type="xs:string" />
                                                        <xs:element name="Velocity" type="xs:string" />
                                                        <xs:element name="VelocityCoefficient" type="xs:string" />
                                                        <xs:element name="MeanVelocity" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Date" type="xs:dateTime" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Edges">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Edge">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="StartingEdge" type="xs:string" />
                                            <xs:element name="Tagmark" type="xs:string" />
                                            <xs:element name="Depth" type="xs:string" />
                                            <xs:element name="DepthSameAsAdjacent" type="xs:string" />
                                            <xs:element name="Velocity" type="xs:string" />
                                            <xs:element name="VelocitySameAsAdjacent" type="xs:string" />
                                            <xs:element name="panelId" type="xs:unsignedByte" />
                                            <xs:element name="Width" type="xs:string" />
                                            <xs:element name="Area" type="xs:string" />
                                            <xs:element name="Discharge" type="xs:string" />
                                            <xs:element name="LeftOrRight" type="xs:string" />
                                            <xs:element name="EdgeType" type="xs:string" />
                                            <xs:element name="Flow" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="Date" type="xs:dateTime" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="nextPid" type="xs:unsignedByte" />
              </xs:sequence>
              <xs:attribute name="empty" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="AQ_Upload_Record">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="record">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="status" type="xs:string" />
                      <xs:element name="time" type="xs:string" />
                      <xs:element name="user" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
